/* unvisited link */
#body a:link:not(.button), #footer a:link:not(.button) {
      color: #008EE2;
      text-decoration: none;
      line-height: inherit;
      cursor: pointer;
}

/* visited link */
#body a:visited:not(.button), #footer a:visited:not(.button) {
    color: #008EE2;
}

/* mouse over link */
#body a:hover:not(.button), #footer a:hover:not(.button) {
    color: #008EE2;
    text-decoration: underline;
}

/* selected link */
#body a:active:not(.button), #footer a:active:not(.button) {
    color: #006EAF;
}

#sg-mainmenu .menu > li.active > a {
    background-color: #eaeaea !important;
}

#sg-mainmenu-mobile {
    background-color: #ffffff;
}

#sg-mainmenu-mobile .menu.nested > li > a::before {
    border: medium none;
    content: "ï”";
    font: 14px/1 FontAwesome;
    height: auto;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    top: 7px;
    width: auto;
}

#sg-mainmenu-mobile .menu > li > a {
    border-color: #fff;
    background-color: #fff;
}

.menu .active > a {
    background: #2199e8 none repeat scroll 0 0;
    color: #4487db;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #5A5A5A transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    right: 2px;
    margin-top: -2px;
}

#sg-mainmenu .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
    top: 13px;
}

#sg-mainmenu .menu > li > a, #sg-mainmenu .menu > li.active > a {
  color: #5A5A5A;
  background-color: transparent;
  padding: 14px 12px 14px;
  border: 0;
  border-radius: 3px;
  margin-left: 0;
  text-transform: uppercase;
}

#sg-mainmenu .menu > li > a:hover, #sg-mainmenu .menu > li.active > a:hover {
  color: #fff;
  background-color: #a0a0a0!important;
  border: 0;
}

#sg-mainmenu .menu > li.active > a, #sg-mainmenu-mobile .menu > li.active > a {
    background-color: transparent;
}

.sg-header {
  height: 64px;
  padding-top: 0;
  padding-bottom: 0;
}

#header #sg-header-title h2 {
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
    float: left;
    letter-spacing: 0;
    line-height: 60px;
    margin: 16,6,6,6px;
    padding: 0;
    text-decoration: none;
    color: #5A5A5A;
}

.sidebar-content h5 {
  color: #666666;
}

.up-arrow {
  text-align: center;
  font-size: 4em;
}

#header {
    background-color: #eaeaea!important;
}

.myheader {
  background-color: #eaeaea;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  width: auto;
  height: 230px;
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .myheader {
        height: 190px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 700px) {
    .myheader {
        height: 150px;
    }
}

@media only screen and (max-width: 480px) {
    .myheader {
        height: 100px;
    }
}

.checklist ul {
  list-style: none;
  margin-top: -1em;
  margin-left: 0;
  padding-left: 0;
}

.checklist li {
  padding-left: 1em;
  text-indent: -1em;
}

.checklist li:before {
  content: '\2713';
  padding-right: 5px;
}

.image-credit-wrapper {
overflow: hidden;
position: relative;
max-width: 960px;
}

.image-credit-wrapper .image-credit {
position: absolute;
right: 0px;
bottom: 24px;
}

.image-credit {
background: rgba(0,0,0,.5);
border-top-left-radius:3px;
color: #ccc;
display: inline-block;
font-size: 11px;
font-family: helvetica;
font-weight: 300;
padding: 5px 8px;
position: absolute;
bottom: 0;
right: 0;
}

.image-credit a {
  color: #ccc !important;
  text-decoration: none;
}

.image-credit a:hover {
  color: #ccc;
}

#sg-mainmenu .menu > li.active > a, #sg-mainmenu-mobile .menu > li.active > a {
    background-color: #ffffff;
}

.topstickypost h3 {
  color: #666666;
}

.reminders {
  margin-top: -10px;
}

.list-item {
  margin: 20px 0 20px !important;
}
